@layout('main')

@section('content')
    <a href="/villages"> Go Back </a>
    <h1>{{ village.name }}</h1>

    <a href="/villages/edit/{{ village.id}}" class="btn btn-dark d-block float-left">Edit</a>

    <form action="{{ '/villages/' + village.id + '?_method=DELETE' }}" method="POST">
        {{ csrfField() }}
        <button class="submit" class="btn btn-danger d-block float-right">Delete</button>
    </form>
@endsection